<app-task-list></app-task-list>
{{user | json}} <br/>
{{upperText | uppercase}} <br/>
{{lowerText | lowercase}} <br/>
{{ percentValue | percent}} <br/>
{{ date | date : 'dd/MM/yyyy'}} <br/>
{{money | currency}}<br/>

<div *ngIf="isAdmin">
    Administrator
</div>

<div [ngSwitch]="profile">
    <p *ngSwitchCase="1">Um</p>
    <p *ngSwitchCase="2">Dois</p>
    <p *ngSwitchDefault>Nada</p>
</div>