<p>
  Tasks List!
</p>
<h1>
  {{ title }}!
</h1>
<br/>
<input type="text" [(ngModel)]="task">
<button type="button" (click)="add()">Add to List</button>

<ul>
  <li *ngFor="let item of tasks" [innerHtml]="item"> 
  </li>
</ul>
<br/>
<div [hidden]="isAdmin">
  Common User
</div>
<div [hidden]="!isAdmin">
    Admin
</div>